.registration-content .registration-container {
  width: 500px;
  margin: 0 auto;
  margin-top: 50px;
  border: 1px #ced4da solid;
  padding: 25px;
}

.registration-content 
.registration-container 
.registration-form-container
.input-item-container {
  margin-bottom: 10px;
}