.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  .header-tabs-container {
    display: flex;
    .header-tab-container a {
      text-decoration: none;
      color: rgba(0,0,0,.3);
      padding-left: 20px;
      margin-left: 12px;
    }

    .header-tab-container a:hover {
      color: black;
    }
  }

  .my-account-menu {
    display: flex;
    
    .user-container {
      padding-left: 20px;
    }
    .cart-container {
      padding-left: 20px;
      margin-right: 20px;
      z-index: 1;
    }

  }
  .badge {
    padding-left: 9px;
    padding-right: 9px;
    -webkit-border-radius: 9px;
    -moz-border-radius: 9px;
    border-radius: 9px;
    cursor: pointer;
    z-index: -1;
  }

  .label-warning[href],
  .badge-warning[href] {
    background-color: #c67605;
  }
  #lblCartCount {
    font-size: 12px;
    background: #ff0000;
    color: #fff;
    padding: 4px 8px;
    vertical-align: top;
    margin-left: -12px;
    border-radius: 12px;
  }
}

