.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  .header-tabs-container {
    display: flex;
    .header-tab-container a {
      text-decoration: none;
      color: rgba(0,0,0,.3);
      padding-left: 20px;
      margin-left: 12px;
    }

    .header-tab-container a:hover {
      color: black;
    }
  }

  .my-account-menu {
    display: flex;
    
    .search-container {

    }
    .user-container {
      padding-left: 20px;
    }
    .cart-container {
      padding-left: 20px;
      margin-right: 20px;
    }

  }
  
}

